body {
    background-image: url("img/nrk_blank.png");
}
section {
    display: flex;
    width: 100%;
}

.oneTile {
    flex-direction: column;
}

.twoTile {
    div, img{
	width: 50%;
    }
}

.threeTile {
    img {
	width: 100%;
    }
}

@media(max-width: 560px) {
    .twoTile {
	flex-direction: column;
	div, img {
	    width: 100%;
	}
    }

    .reverse {
	flex-direction: column-reverse;
    }

    .threeTile {
	flex-direction: column;
    }
}
