*{
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: url("img/kvitebjorn/kb14.JPG");
}

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

section {
    object-fit: contain;
    display: flex;
    gap: 1em;
}

iframe, img, h1, h2, h3, p {
    border-radius: 1em;    
}

h1, h2, h3 {
    background-color: rgba(0,32,16,0.5);
    padding: 0.5em;
    color: ivory;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    background-color: rgba(0,32,16,0.5);
    padding: 0.5em;
    font-family: "Special Elite", system-ui; 
    color: ivory;
    font-weight: 400;
    font-style: normal;
}
iframe {
    height: 50vw;
    width: 50vw;
    }

.oneTile {
    img {
	max-width: 90vw;
    }
    flex-direction: column;
    align-items: center;
}


.twoTile {
    div, img{
	max-width: 50vw;
    }
    justify-content: space-around;
}

.threeTile {
    img, div {
	max-width: 30vw;
	object-fit: cover;
    }
    object-fit: cover;
    justify-content: space-between;
}

@media(max-width: 426px) {
    iframe {
	height: 90vw;
	width: 90vw;
    }

    .twoTile {
	flex-direction: column;
	div, img{
	    max-width: 100vw;
	}
    }

    .reverse {
	flex-direction: column-reverse;
    }

    .threeTile {
	img {
    	    max-width: 90vw;
       	}
	flex-direction: column;
    }
}
